<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            margin: 0;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="container"></div>
</body>

</html>
